body{
  background: black;
  color: white;
  font-family: "futura";
  text-align: center;
  font-size:1em;
}
h1{
  color:black;
  display:inline-block;
  font-size: 3em;
  padding:0.5em;
  margin-top:1em; margin-bottom:0.4em;
  background:white;
  user-select:none;
  transition-duration:100ms;
}
h1:hover{
  cursor:pointer;
  padding-left:2em; padding-right:2em;
}

h1:active{
  color:white;
  padding-left:0em; padding-right:0em;
  animation-name: test;
  animation-duration: 1s;
}

h3{
  margin:0.2em;
  font-size:3em
}
#textbox{
  display:none;
}

@keyframes test {
  from{ padding-left:2em; padding-right:2em; }
  to{ padding-left:0.5em; padding-right:0.5em; }
}
